services:
  db:
    image: postgres:16-alpine
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $$POSTGRES_USER -d $$POSTGRES_DB"]
      interval: 10s
      timeout: 5s
      retries: 5

  agent:
    build: ./agent
    ports:
      - "7000:7000"
    environment:
      MCP_URL: http://mcp:8000
      GROQ_API_KEY: ${GROQ_API_KEY}
      GROQ_MODEL: ${GROQ_MODEL}
      # GOOGLE_API_KEY: ${GOOGLE_API_KEY}
      # GEMINI_MODEL: ${GEMINI_MODEL}
      DATABASE_URL: postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@db:5432/${POSTGRES_DB}
    depends_on:
      mcp:
        condition: service_started
    volumes:
      - ./agent:/app

  mcp:
    build: ./mcp
    ports:
      - "8000:8000"
    environment:
      DATABASE_URL: postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@db:5432/${POSTGRES_DB}
    depends_on:
      db:
        condition: service_healthy
    volumes:
      - ./mcp:/app

  frontend:
    build: ./frontend
    ports:
      - "3000:3000"
    environment:
      VITE_CESIUM_ION_TOKEN: ${VITE_CESIUM_ION_TOKEN}
      VITE_BACKEND_MCP: http://mcp:8000
      VITE_BACKEND_AGENT: http://agent:7000
    depends_on:
      mcp:
        condition: service_started
      agent:
        condition: service_started
    volumes:
      - ./frontend:/app
      - /app/node_modules

volumes:
  postgres_data:
